/************ Header *************/
.jumbotron {
  text-align: center;
  height: 200px;
  width: auto;
  background-color: lightgray;
}

.jumbotron h1 {
  font-family: 'Poiret One', cursive;
  font-size: 80px;
}

.navbar {
  font-weight: lighter;
  font-family: 'Poiret One', cursive;
  font-size: 20px;
}

body {
  font-family: 'Raleway', sans-serif;
  background-color: white;
}

p {
  padding: 40px;
  border: 3px limegreen solid;
  margin: 30px;
}

.container {
  width: 80%;
  background-color: #00ffcc;
}

.container p, ul, ol {
  display: block;
  background-color: white ;
}

.container h3 {
  font-family: 'Poiret One', cursive;
  font-size: 40px;
  color: white;
}

.glyphicon {
  font-size: 70px;
  color: white;
}

/************ Project List *************/
body#projectlist {
  text-align: justify;
}

h3, a{
  text-transform: uppercase;
  text-align: left;
  font-weight: bold;
  font-family: 'Poiret One', cursive;
}

.col-sm-1 {
   margin-right: 30px;
 }

#projectlist {
  background-color: #00ffcc;
  padding: 20px;
  margin-bottom: 10px;
}

#projectlist h3{
  color: white;
  font-family: 'Poiret One', cursive;
}

a:hover {
  font-weight: bold;
  color: #00cca3;
}

/************ About Me *************/
.img-responsive {
  float: left;
  max-width: 20%;
  max-height: auto;
  border-radius: 50%;
  margin: 15px;
}

#aboutme {
  text-align: justify;
}

#aboutme {
  background-color: #00ffcc;
  padding: 20px;
  margin-bottom: 10px;
}

#aboutme p {
  background-color: white;
  margin: 0px;
  padding: 15px;
}

.highlight {
  color: #00cca3;
  font-weight: bold;
  font-size: 16px;
}

/************ Hobbies *************/
#hobbies {
  padding: 20px;
  margin-bottom: 10px;
}

#hobbies p {
  background-color: white;
  margin: 0px;
}
